@using System.Web.Mvc
@using System.Web.Mvc.Html
@model Emotion.Feature.Controls.Model.Feedback

@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "review-form" }))
{
    <h3>
        Please, leave your feedback
    </h3>
    <h4>
        Your name
    </h4>
    @Html.TextBoxFor(x => x.Name, new {style = "width:500px;" })
    <h5>
        Your thoughts
    </h5>
    @Html.TextAreaFor(x => x.Text, new { style = "width:500px;", rows = 5 })
    <br/>
    <input type="submit" class="btn btn-primary mb-2" value="Send" />
}



