<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:x="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/"  xmlns:exmEnabled="http://www.sitecore.net/xmlconfig/exmEnabled/">
    <sitecore role:require="Standalone or ContentDelivery">
        <settings>
            <setting name="Emotion.Foundation.LexisAnalysis.LexisTextAnalysisServerUrl" value="http://localhost:8080/api/predict"/>
        </settings>
        <pipelines>
            <initialize>
                <processor type="Emotion.Foundation.LexisAnalysis.Pipelines.Initialize.InitializeAutoMapper, Emotion.Foundation.LexisAnalysis"/>
            </initialize>
        </pipelines>
        <xconnect>
            <runtime type="Sitecore.XConnect.Client.Configuration.RuntimeModelConfiguration,Sitecore.XConnect.Client.Configuration">
                <schemas hint="list:AddModelConfiguration">
                    <schema name="xConnectEmotionModelSchema" type="Sitecore.XConnect.Client.Configuration.StaticModelConfiguration,Sitecore.XConnect.Client.Configuration">
                        <param desc="modeltype">Emotion.Foundation.LexisAnalysis.Models.XConnectEmotionModel, Emotion.Foundation.LexisAnalysis</param>
                    </schema>
                </schemas>
            </runtime>
        </xconnect>
    </sitecore>
</configuration>