@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Emotion detection demo</title>
</head>
<body>
    <div class="container body-content">
        @Html.Sitecore().Placeholder("main")
    </div>
    <footer>
        <p>2019 - Anton Tishchenko</p>
    </footer>
    @Html.Sitecore().VisitorIdentification()
</body>
</html>
