<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:x="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/"  xmlns:exmEnabled="http://www.sitecore.net/xmlconfig/exmEnabled/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration dependencies="Foundation.*"
                    name="Project.Demo"
                    description="Items for demo">
                    <targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization" useDataCache="false" singleInstance="true" />
                    <predicate>
                        <include name="Project.Demo.Layouts.Folder" database="master" path="/sitecore/layout/Layouts/Project/Emotion/Demo"/>
                        <include name="Project.Demo.Renderings.Folder" database="master" path="/sitecore/layout/Renderings/Project/Emotion/Demo"/>
                        <include name="Project.Demo.Feedback.Page" database="master" path="/sitecore/content/Home/Feedback"/>
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>