<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:x="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/"  xmlns:exmEnabled="http://www.sitecore.net/xmlconfig/exmEnabled/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration dependencies="Foundation.*" name="Feature.Rules" description="Rules">
                    <targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization" useDataCache="false" singleInstance="true" />
                    <predicate>
                        <include name="Feature.Rules.Feeling.Tempate" database="master" path="/sitecore/templates/Feature/Emotion/Feeling"/>
                        <include name="Feature.Rules.Rules" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/Emotion"/>
                        <include name="Feature.Rules.Emotions.List" database="master" path="/sitecore/system/Settings/Feature/Emotion/Feelings"/>
                        <include name="Feature.Rules.Tags" database="master" path="/sitecore/system/Settings/Rules/Definitions/Tags/Emotion"/>
                        <include name="Feature.Rules.Tag.ForExperienceEditor" database="master" path="/sitecore/system/Settings/Rules/Conditional Renderings/Tags/Emotion"/>
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>