<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:x="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/"  xmlns:exmEnabled="http://www.sitecore.net/xmlconfig/exmEnabled/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration dependencies="Foundation.*" name="Feature.Controls" description="Demo controls">
                    <targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization" useDataCache="false" singleInstance="true" />
                    <predicate>
                        <include name="Feature.Controls.Feeling.Folder" database="master" path="/sitecore/layout/Renderings/Feature/Emotion/Controls"/>
                        <include name="Feature.Controls.Feeling.Tempate" database="master" path="/sitecore/templates/Feature/Emotion/Controls"/>
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>