<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <sc.variable role:require="Standalone" name="sourceFolder" value="C:\2019-Incognito\src" />
        <unicorn>
            <configurations>
                <configuration
                    name="Foundation.Serialization"
                    description="Common folders">
                    <targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization" useDataCache="false" singleInstance="true" />
                    <predicate>
                        <include name="Layouts.Folder" database="master" path="/sitecore/layout/Layouts/Project/Emotion">
                            <exclude children="true" />
                        </include>
                        <!--include name="Renderings.Folder" database="master" path="/sitecore/layout/Renderings/Project/Emotion">
                            <exclude children="true" />
                        </-->
                        <include name="Renderings.Feature.Folder" database="master" path="/sitecore/layout/Renderings/Feature/Emotion/">
                            <exclude children="true" />
                        </include>
                        <include name="Templates.Folder" database="master" path="/sitecore/templates/Feature/Emotion">
                            <exclude children="true" />
                        </include>
                        <include name="Settings.Folder" database="master" path="/sitecore/system/Settings/Feature/Emotion">
                            <exclude children="true" />
                        </include>
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>

